{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
{% if blog.id == 45695860851 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.upsell_collection' %}
    {% include 'custom_fields.articles.ig-gallery' %}
    {% include 'custom_fields.articles.top_video' %}
    {% include 'custom_fields.articles.description' %}
    {% include 'custom_fields.articles.how_to' %}
  </div>
{% endif %}
{% if blog.id == 48972791923 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.upsell_collection' %}
    {% include 'custom_fields.articles.ig-gallery' %}
    {% include 'custom_fields.articles.top_video' %}
    {% include 'custom_fields.articles.description' %}
    {% include 'custom_fields.articles.how_to' %}
  </div>
{% endif %}
{% if blog.id == 17028939891 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.upsell_collection' %}
    {% include 'custom_fields.articles.ig-gallery' %}
  </div>
{% endif %}
{% if blog.id == 50216239219 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.upsell_collection' %}
    {% include 'custom_fields.articles.ig-gallery' %}
  </div>
{% endif %}
{% if blog.id == 48972497011 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.upsell_collection' %}
    {% include 'custom_fields.articles.ig-gallery' %}
  </div>
{% endif %}