{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.blogs.topbanner' %}
  {% include 'custom_fields.blogs.topbannermobile' %}
  {% include 'custom_fields.blogs.banner_title' %}
  {% include 'custom_fields.blogs.banner_description' %}
  {% include 'custom_fields.blogs.banner_button_title' %}
  {% include 'custom_fields.blogs.banner_button_url' %}
  {% include 'custom_fields.blogs.heading_color' %}
  {% include 'custom_fields.blogs.description_color' %}
  {% include 'custom_fields.blogs.button_color' %}
  {% include 'custom_fields.blogs.caption_position' %}
  {% include 'custom_fields.blogs.button_caption_color' %}
</div>