{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.collection_slidshow' %}
  {% include 'custom_fields.collections.product_gallery' %}
  {% include 'custom_fields.collections.topbanner' %}
  {% include 'custom_fields.collections.topbannermobile' %}
  {% include 'custom_fields.collections.banner_title' %}
  {% include 'custom_fields.collections.banner_description' %}
  {% include 'custom_fields.collections.banner_button_title' %}
  {% include 'custom_fields.collections.banner_button_url' %}
  {% include 'custom_fields.collections.heading_color' %}
  {% include 'custom_fields.collections.description_color' %}
  {% include 'custom_fields.collections.button_color' %}
  {% include 'custom_fields.collections.caption_position' %}
  {% include 'custom_fields.collections.button_caption_color' %}
</div>