{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ga-de-cosmetics-israel.myshopify.com/blogs/configure/111357/edit
{% endcomment %}
{% if blog.metafields.custom_fields["button_caption_color"] != blank %}
  <div class="custom-field custom-field__button-caption-color custom-field__type--text">
    <h3 class="custom-field--title">button caption color</h3>
    <div class="custom-field--value">
      {{ blog.metafields.custom_fields["button_caption_color"] }}
    </div>
  </div>
{% endif %}