{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ga-de-cosmetics-israel.myshopify.com/pages/configure/127562/edit
{% endcomment %}
{% if page.metafields.custom_fields["menu_on_right1"] != blank %}
  <div class="custom-field custom-field__menu-on-right1 custom-field__type--text">
    <h3 class="custom-field--title">menu_on_right1</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["menu_on_right1"] }}
    </div>
  </div>
{% endif %}