{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ga-de-cosmetics-israel.myshopify.com/pages/configure/122711/edit
{% endcomment %}
{% if page.metafields.custom_fields["button_caption_color"] != blank %}
  <div class="custom-field custom-field__button-caption-color custom-field__type--text">
    <h3 class="custom-field--title">Button Caption Color</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["button_caption_color"] }}
    </div>
  </div>
{% endif %}