<section class="index-section homepage-instagram no-fouc" data-section-id="snippet" data-section-type="instagram">  
  <article>
    <div  id="instagram-covet" class="section-title insta-heading">
      <h4>{{ settings.instagram-title }}</h4>
      <h5>{{ settings.instagram-subtitle }}</h5>
      <p>{{ settings.instagram-text }}</p>
    </div>
    <div class="covet-pics-gallery" data-shop="ga-de-cosmetics-israel.myshopify.com"></div>
  </article>
</section>
<style>
  /* INSTAGRAM */
  section.homepage-instagram {
    background: #FFFFFF;
  }
  section.homepage-instagram h2,
  section.homepage-instagram h2 a {
    color: #000000;
  }
  .instagram-image-container {
    display: block;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    margin-bottom: 0px;
  }
</style>