{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.pages.cover_photo' %}
  {% include 'custom_fields.pages.topbanner' %}
  {% include 'custom_fields.pages.topbannermobile' %}
  {% include 'custom_fields.pages.banner_title' %}
  {% include 'custom_fields.pages.banner_description' %}
  {% include 'custom_fields.pages.banner_button_title' %}
  {% include 'custom_fields.pages.banner_button_url' %}
  {% include 'custom_fields.pages.heading_color' %}
  {% include 'custom_fields.pages.description_color' %}
  {% include 'custom_fields.pages.button_color' %}
  {% include 'custom_fields.pages.caption_position' %}
  {% include 'custom_fields.pages.button_caption_color' %}
  {% include 'custom_fields.pages.menu_on_right' %}
  {% include 'custom_fields.pages.menu_on_right1' %}
  {% include 'custom_fields.pages.menu_on_right2' %}
  {% include 'custom_fields.pages.ig-gallery' %}
  {% include 'custom_fields.pages.top_video' %}
  {% include 'custom_fields.pages.description' %}
  {% include 'custom_fields.pages.how_to' %}
</div>