<div class="poloriz-widget-circles laa-mobile-hide">
  
  {% if template.name == "index" %} 

<poloriz-stories widget-id="4dc02fa0-4acb-11ec-b836-afb10dead4ff" id="poloriz-widget-circles" mode="1"></poloriz-stories> 

{% else %}

<poloriz-stories widget-id="4a92f8e0-c92d-11ec-ab1e-5bf58e161aef" id="poloriz-widget-circles" mode="1"></poloriz-stories> 

{% endif %}
  
</div>