{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.collection_name' %}
  {% include 'custom_fields.products.colorhexa' %}
  {% include 'custom_fields.products.embedmovie' %}
  {% include 'custom_fields.products.ingridiants' %}
  {% include 'custom_fields.products.mini_description' %}
  {% include 'custom_fields.products.variant_image' %}
  {% include 'custom_fields.products.slideshow' %}
  {% include 'custom_fields.products.tips_tab' %}
  {% include 'custom_fields.products.how_to_tab' %}
</div>