<div id="CartDrawer" class="drawer drawer--right">
  <div class="drawer__header">
    <div class="table-cell">
      <h3>{{ 'cart.general.title' | t }}</h3>
      <a href="/checkout" class="btn cart__checkout">
        {{ 'cart.general.checkout' | t }}
      </a>
      <span class="drawer__close js-drawer-close"> X </span>
    </div>
    
    
  </div>
  <div id="CartContainer"></div>
</div>
