{% assign settings_ = section.settings %}
{% if customer and settings_.user_vs %}

    <style>
        .ll-history-section {
            order: {{ settings_.order }};
        }
    </style>
    <div class="page-width">
        <h2 class="history-title">{{ settings_.header }}</h2>
        {% if settings_.subheading != '' %}<div class="history-subheading">{{ settings_.subheading }}</div>{% endif %}
        <div data-lion-history-table></div>
        <div class="show-history">צפו בהיסטוריה המלאה</div>
    </div>
    <script>
        
    </script>
{% endif %}
{% schema %}

{
  "name": "History",
  "class": "ll-history-section partial",
  "settings": [
    {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "Activity History"
    },
    {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading"
    },
    {
        "type":      "select",
        "id":        "order",
        "label":     "Order",
        "options": [
            {
                "value": "1",
                "label": "1"
            },
            {
                "value": "2",
                "label": "2"
            },
            {
                "value": "3",
                "label": "3"
            },
            {
                "value": "4",
                "label": "4"
            },
            {
                "value": "5",
                "label": "5"
            },
            {
                "value": "6",
                "label": "6"
            },
            {
                "value": "7",
                "label": "7"
            },
            {
                "value": "8",
                "label": "8"
            },
            {
                "value": "9",
                "label": "9"
            },
            {
                "value": "10",
                "label": "10"
            },
            {
                "value": "11",
                "label": "11"
            },
            {
                "value": "12",
                "label": "12"
            },
            {
                "value": "13",
                "label": "13"
            },
            {
                "value": "14",
                "label": "14"
            }
        ],
        "default":   "4"
    },
    {
      "type": "header",
      "content": "Visibility"
    },
    {
      "type": "checkbox",
      "id": "user_vs",
      "label": "Logged in",
      "default": true
    }
    ]
}

{% endschema %}