<section>
  <p class="text-section">{{section.settings.text}}</p>
</section>



{% schema %}
  {
    "name": "Text section",
    "settings": [
		{       
		"type": "textarea",
        "id": "text",
        "label": "Text"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
