<div class="yotpo yotpo-reviews-carousel" 
 data-background-color="transparent" 
 data-mode="most_recent" 
 data-type="product" 
 data-count="9" 
 data-show-bottomline="1" 
 data-autoplay-enabled="1" 
 data-autoplay-speed="4000" 
 data-show-navigation="1">&nbsp;</div>

<style>
  .yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .headline {
    visibility: hidden;
  }
</style>

{% schema %}
{
  "name": "Home Reviews carousel",
  "settings": [],
  "presets": [
    {
      "name": "Home Reviews carousel",
      "category": "Yotpo Reviews"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}