body.product {
    #productPriceAndPoints {
        display:flex;
        justify-content: space-between;
        align-items: center;
        .productPoints {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
            svg {
                width: 32px;
                margin-left: 10px;
            }
            p {
                margin:0;
            }
            .productPointsText {
                direction: rtl;
                text-align: right;
                a {
                    text-decoration: underline;
                }
                p {
                    font-size: 12px;
                    line-height: 1.4;
                }
            }
        }
    }
}

body.cart {
    .cartPoints {
        
    }
}