<style>
.shappify-motivator-slider {
   top: -400px !important;
   position: absolute !important;
}
</style>

<div class="index-sections">
  {{ content_for_index }}
</div>

<div class="load-wait">
  <i class="fa fa-spinner" aria-hidden="true"></i>
</div>
