{% render 'dialogue-list-collections-top-snippet' %}
{% if settings.breadcrumb %}
<div class="custombreadcrumb">
  <div class="row">
  {% include 'breadcrumb' %}
  </div>
</div>  
{% endif %}
{% section 'slideshow' %}

{% section 'collections-list-template' %}
{% section 'parallax-image' %}
{% section 'featured-collection' %}
{% section 'parallax-image-1' %}
{% section 'featured-blog' %}
{% section 'instagram' %}
{% render 'dialogue-list-collections-snippet' %}
