<div class="launch-banner">
	{% section 'banner-launch' %}
</div>
<div class="launch-text-section">
	{% section 'text' %}
</div>
<div class="launch-step-blog">
	{% section 'launch-step' %}
</div>
<div class="launch-step-blog">
	{% section 'launch-step-2' %}
</div>
<div class="launch-step-blog">
	{% section 'launch-step-3' %}
</div>
<div class="launch-step-blog">
	{% section 'launch-step-4' %}
</div>
<div class="launch-step-blog">
	{% section 'launch-step-5' %}
</div>
<div class="launch-step-blog">
	{% section 'launch-step-6' %}
</div>
<div class="launch-step-blog">
	{% section 'launch-step-7' %}
</div>
<div class="launch-step-blog">
	{% section 'launch-step-8' %}
</div>
<div class="launch-step-blog">
	{% section 'launch-step-9' %}
</div>
<div class="launch-step-blog">
	{% section 'launch-step-10' %}
</div>










<script>
    r(function(){
      var numOfItems = 4;
      if($(window).width() < 1220){
        numOfItems = 2;
      }

      $('.launch-owl-carousel').owlCarousel({
          items: numOfItems,
          loop:true,
          pagination : false,
          navigation: true,
          navigationText : false,
          autoPlay : false,
        });
    }); 

  function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}

  function toggle(button){
    
    // Collapse
  	$(button).parents(".launch-step-blog").find(".step-products").slideToggle();
    if( button.textContent == " הוסיפי לעגלה " ){
		button.textContent = " הסתירי מוצרים "
    }
    else{
       button.textContent = " הוסיפי לעגלה " 
    }
    setTimeout(function (){
      if($(window).width() < 1220){
     	$(button).parents(".launch-step-blog").find('.step .step-products').css('width', '100%');
    	}

	}, 600);

  }
  


</script>




{% if settings.pagelist != '' %}
  <div id="page-sidebar" class="desktop-3 tablet-2 mobile-3">
    <h2>{{ settings.page-sidebar-title }}</h2>
    <ul>
      {% for link in linklists[settings.pagelist].links %}
        <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>

    {% if settings.pagelist == '' %}
      <p>You are seeing this message as you have yet to pick a linklist in the Pages and contact form section of the theme settings</p>
      <p>In your admin click on Themes > Customize Theme > Pages and Contact form and choose a Linklist from the dropdown in the area marked Choose a linklist for page sidebar</p>
    {% endif %}

  </div>
{% endif %}

<style>
  /*------------------- Launch blog ----------------------------*/
  .launch-banner #banner_banner{
      margin: 0px -360px 0px 0px;
  }


  .launch-text-section p.text-section{
      font-size: 16px;
      font-family:  open_sans_hebrewregular;
      text-align: center;
      padding: 58px 0px 58px 0px;

  }

    .launch-step-blog{
		margin: 0 0 50px 0;
    }


  .launch-blog{
      flex-direction: column;
      width: 1280px;


  }


/* -----------------  Launch Mobile -------------------------------*/


@media screen and (max-width: 1220px){
  .launch-banner #banner_banner{
	margin: 0 -8pt 0 0;
  }
  
  .launch-blog{
      width: 100%;


  }
  
} 


<style>