{% if settings.breadcrumb %}
<div class="custombreadcrumb">
  <div class="row">
  {% include 'breadcrumb' %}
  </div>
</div>  
{% endif %}
{% section 'slideshow-2' %}
{% section 'collection-blocks-1' %}
{% section 'parallax-image-3' %}
{% section 'featured-collection-3' %}
{% section 'parallax-image-4' %}
{% section 'featured-blog-2' %}
{% section 'instagram-collection-boa' %}
<style>
  .is-collection-sec h2 a {
    font-size:32.5px
    font-family: 'open_sans_hebrewregular';
    font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}
#collection-blocks{padding: 50px 0;}
#collection-blocks img{width:100%;}
.collectiondescription{width: 60%;margin: 0 auto;text-align: center;margin-top:15px;margin-bottom:70px;font-family: 'open_sans_hebrewregular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #000000;}
.collections{margin-top:80px;}  
  #shopify-section-parallax-image-4 .parallax-text.lipstick-capture {
    margin: 0 0 0 0;
    text-align: right;
    width: 420px;
    float: right;
    vertical-align: top;
}
#shopify-section-parallax-image-2 .parallax-text.lipstick-capture small{color:#000;}
  .section-title{border-bottom:none;}
  .gridlock .row .desktop-4 {    
    margin: 1.0417%;
}
</style>