
{%- comment -%}This file contains all sections of loyalty lion{%- endcomment -%}
{% section 'loyalty-lion-login' %}
<div class="loyalty-lion-sections">
    {% section 'loyalty-lion-benifits' %}      
    {% section 'loyalty-lion-rules' %}
    {% section 'loyalty-lion-rewards' %}
    {% section 'loyalty-lion-tiers' %}
    {% section 'loyalty-lion-history' %}
    {% section 'loyalty-lion-faq' %}


  {%- comment -%}
    {% section 'loyalty-lion-rewards' %}
  {% section 'loyalty-lion-tiers' %}
  {% section 'loyalty-lion-claimed-rewards' %}
  {% section 'loyalty-lion-text-only' %}
  {% section 'loyalty-lion-text-with-image' %}
  {% section 'loyalty-lion-text-with-background' %}
  <h1>Development</h1>
  {% section 'loyalty-lion-history' %}
  {% section 'loyalty-lion-panel' %}{%- endcomment -%}
</div>